.button,
.DropHex,
.SelectorComponent {
    display: grid;
    grid-template-rows: 20px 15px 10px 48px 20px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas:
    '. . .'
    '. title .'
    '. . .'
    '. wrapper .'
    '. . .';

    .title {
        grid-area: title;
        font-family: fBold;

        a {
            font-family: fRegular;
            color: $cDarkGrey;
            margin-left: 10px;
            display: inline-block;
            border-bottom: 1px solid $cDarkGrey;
            cursor: pointer;

            &:hover {
                cursor: pointer;
                animation: 2500ms borderBottom infinite;
        
                 @keyframes borderBottom {
                   0% { border-bottom: 1px solid rgba(39, 119, 197, 1); } // #2777c6
                    20% { border-bottom: 1px solid rgba(34, 184, 200, 1); } // #22b8c8
                    30% { border-bottom: 1px solid rgba(34, 213, 185, 1); } //#22d5b9
                    40% { border-bottom: 1px solid rgba(71, 213, 48, 1); } //#47d530
                    50% { border-bottom: 1px solid rgba(206, 200, 33, 1); } //#cec821
                    60% { border-bottom: 1px solid rgba(211, 133, 31, 1); } // #d3851f
                    70% { border-bottom: 1px solid rgba(213, 53, 31, 1); } //#d5351f
                    80% { border-bottom: 1px solid rgba(199, 33, 212, 1); } //#c721d4
                   100% { border-bottom: 1px solid rgba(132, 71, 213, 1);} //#8447d5
                  }
            }
        
        }
    }

    .wrapper {
        grid-area: wrapper;
        height: 48px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));


        button {
            overflow: hidden;
            background: #fefefe;
            border: 2px solid $cGrey;
            font-family: fRegular;
            font-size: $sFont;
            margin-left: -2px;
            text-align: center;
            line-height: 48px;
            padding: 0px;
            outline: none;
            cursor: pointer;


            &.active {
                background: $cDarkGrey;
                font-family: fBold;
                color: $cWhite;
            }

            &:hover:not(.active) {
                
                &:nth-child(1) {
                    background: $cWhite;
                    z-index: 1;
                    animation: 2500ms boxBottom1 infinite;
    
                     @keyframes boxBottom1 {
                        0% { box-shadow: -5px 5px 0px 0px rgba(39, 119, 197, 1); } // #2777c6
                        20% { box-shadow: -5px 5px 0px 0px rgba(34, 184, 200, 1); } // #22b8c8
                        30% { box-shadow: -5px 5px 0px 0px rgba(34, 213, 185, 1); } //#22d5b9
                        40% { box-shadow: -5px 5px 0px 0px rgba(71, 213, 48, 1); } //#47d530
                        50% { box-shadow: -5px 5px 0px 0px rgba(206, 200, 33, 1); } //#cec821
                        60% { box-shadow: -5px 5px 0px 0px rgba(211, 133, 31, 1); } // #d3851f
                        70% { box-shadow: -5px 5px 0px 0px rgba(213, 53, 31, 1); } //#d5351f
                        80% { box-shadow: -5px 5px 0px 0px rgba(199, 33, 212, 1); } //#c721d4
                        100% { box-shadow: -5px 5px 0px 0px rgba(132, 71, 213, 1);} //#8447d5
                    }
                }
                &:nth-child(2) {
                    background: $cWhite;
                    z-index: 1;
                    animation: 2500ms boxBottom2 infinite;
    
                     @keyframes boxBottom2 {
                        0% { box-shadow: 0px 5px 0px 0px rgba(39, 119, 197, 1); } // #2777c6
                        20% { box-shadow: 0px 5px 0px 0px rgba(34, 184, 200, 1); } // #22b8c8
                        30% { box-shadow: 0px 5px 0px 0px rgba(34, 213, 185, 1); } //#22d5b9
                        40% { box-shadow: 0px 5px 0px 0px rgba(71, 213, 48, 1); } //#47d530
                        50% { box-shadow: 0px 5px 0px 0px rgba(206, 200, 33, 1); } //#cec821
                        60% { box-shadow: 0px 5px 0px 0px rgba(211, 133, 31, 1); } // #d3851f
                        70% { box-shadow: 0px 5px 0px 0px rgba(213, 53, 31, 1); } //#d5351f
                        80% { box-shadow: 0px 5px 0px 0px rgba(199, 33, 212, 1); } //#c721d4
                        100% { box-shadow: 0px 5px 0px 0px rgba(132, 71, 213, 1);} //#8447d5
                    }
                }
                &:nth-child(3) {
                    background: $cWhite;
                    z-index: 1;
                    animation: 2500ms boxBottom3 infinite;
    
                     @keyframes boxBottom3 {
                        0% { box-shadow: 5px 5px 0px 0px rgba(39, 119, 197, 1); } // #2777c6
                        20% { box-shadow: 5px 5px 0px 0px rgba(34, 184, 200, 1); } // #22b8c8
                        30% { box-shadow: 5px 5px 0px 0px rgba(34, 213, 185, 1); } //#22d5b9
                        40% { box-shadow: 5px 5px 0px 0px rgba(71, 213, 48, 1); } //#47d530
                        50% { box-shadow: 5px 5px 0px 0px rgba(206, 200, 33, 1); } //#cec821
                        60% { box-shadow: 5px 5px 0px 0px rgba(211, 133, 31, 1); } // #d3851f
                        70% { box-shadow: 5px 5px 0px 0px rgba(213, 53, 31, 1); } //#d5351f
                        80% { box-shadow: 5px 5px 0px 0px rgba(199, 33, 212, 1); } //#c721d4
                        100% { box-shadow: 5px 5px 0px 0px rgba(132, 71, 213, 1);} //#8447d5
                    }
                }
            }

            &:focus:not(.active) {
                outline:  5px solid #53cbed;
                z-index: 1;
            }
        }

    } //wrapper

}// .button, .DropHex, .SelectorComponent
