.button,
.DropHex,
.SelectorComponent {
    display: grid;
    grid-template-rows: 20px 18px 18px 44px 20px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas:
    '. . .'
    '. title .'
    '. . .'
    '. wrapper .'
    '. . .';

    .title {
        grid-area: title;
        font-family: fBold;
    }

    .wrapper {
        grid-area: wrapper;
        height: 44px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));


        button {
            overflow: hidden;
            background: #fefefe;
            border: 1px solid #666;
            font-family: fRegular;
            font-size: $sFont;
            margin-left: -1px;
            text-align: center;
            line-height: 44px;
            outline: none;
            cursor: pointer;


            &:first-child {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            &:last-child {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            &.active {
                background: $cLightGrey;
                font-family: fBold;
                box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, .2);
            }

            &:hover:not(.active) {
                box-shadow: 0 2px 4px 1px rgba(51, 51, 51, .2);
                background: #f9f9fa;
                z-index: 1;
            }


            &:focus:not(.active) {
                outline:  5px solid #53cbed;
                z-index: 1;
            }
        }

    } //wrapper

    @media #{$tablet} {
        grid-template-rows: 10px 18px 18px 44px 10px;
    }

    @media #{$phone} {
        grid-template-rows: 10px 18px 10px 44px 10px;
    }

}// .button, .DropHex, .SelectorComponent
