.IntroComponent {
    position: fixed;
    background: $cOffWhite;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 575px 1fr;
    grid-template-rows: 1fr 200px 118px 2fr;
    grid-template-areas:
    '. title .'
    '. info .'
    '. ButtonComponent .'
    '. . .';

    .title {
        grid-area: title;
        align-self: end;
        justify-self: center;
        font-family: fBold;
        font-size: 48px;
    }

    .info {
        grid-area: info;
        font-size: $sFontbig;
        font-family: fRegular;
        text-align: center;
        align-self: center;
        line-height: 40px;
        word-spacing: .5px;
        padding-top: 70px;


        .border {
            border-bottom: 5px solid $cGrey;
            padding-top: 50px;
            margin: 0 8px 0 6px;
        }
    }

    .ButtonComponent {
        grid-area: ButtonComponent;
        width: 200px;
        align-self: end;
        justify-self: center;
    }
}
