.IntroComponent {
    position: fixed;
    background: $cOffWhite;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 1fr 150px 64px 2fr;
    grid-template-areas:
    '. title .'
    '. info .'
    '. ButtonComponent .'
    '. . .';

    .title {
        grid-area: title;
        align-self: end;
        justify-self: center;
        font-family: fBold;
        font-size: 48px;
    }

    .info {
        grid-area: info;
        font-size: $sFontbig;
        font-family: fRegular;
        text-align: center;
        align-self: center;
        line-height: 40px;
        word-spacing: .5px;
    }


    .ButtonComponent {
        grid-area: ButtonComponent;
        width: 200px;
        align-self: end;
        justify-self: center;
    }

    @media #{$tablet} {
        width: 100%;
        height: 100%;
    }

    @media #{$phone} {
        width: 100%;
        height: 100%;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 1fr 140px 64px 1.5fr;

        .title {
            font-size: 30px;
    }

        .info {
            font-size: 18px;
            line-height: 32px;
            padding-top: 0;

            .border {
                margin: 0;
            }
        }

        .ButtonComponent {
            width: 100%;
            align-self: center;
        }
    }

} // IntroComponent
