.SchemesComponent {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: calc(100vh - 100px);
    width: 100vw;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-areas: '. schemes .';
    padding-top: 5px;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: $cGrey;
        border: 1px solid white;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    .schemes {
        grid-area: schemes;
        display: grid;
        grid-column-gap: 40px;
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
        grid-row-gap: 40px;
        grid-auto-rows: 240px;


    }

    .noSchemesMessage {
        grid-area: schemes;
        width: 420px;
        font-size: $sFontbig;
        justify-self: center;
        text-align: center;
        line-height: 40px;
        word-spacing: .5px;
        padding-top: 310px;


    }

    @media #{$phone} {
        grid-template-columns: 1fr;

        &::-webkit-scrollbar {
            display: none;
        }

        .schemes {
            grid-template-columns: none;
        }

    }

} // SchemesComponent
