.LoadingComponent {
    background: $cOffWhite;
    height: calc(100vh - 100px);
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 640 1fr;
    grid-template-rows: 1fr 170px 100px 2fr;
    grid-template-areas:
    '. . . '
    '. bowl .'
    '. stir .'
    '. . .';

    .bowl {
        grid-area: bowl;
        align-self: center;
        justify-self: center;
        padding-bottom: 20px;
    }

    .stir {
        grid-area: stir;
        font-size: $sFontbig;
        text-align: center;
        align-self: center;
        word-spacing: .5px;
        padding-bottom: 50px;
    }
}
