.LoadingComponent {
    background: $cOffWhite;
    height: calc(100vh - 100px);
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 380px 1fr;
    grid-template-rows: 1fr 170px 140px 3fr;
    grid-template-areas:
    '. . . '
    '. bowl .'
    '. stir .'
    '. . .';

    .bowl {
        grid-area: bowl;
        justify-self: center;
    }

    .stir {
        grid-area: stir;
        font-size: $sFontbig;
        text-align: center;
    }
}
