.HeaderComponent {
    position: fixed;
    height: 100px;
    width: 100%;
    background: $cOffWhite;
    font-family: fBold;
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    grid-template-areas: 'picker title q';

    .picker {
        grid-area: picker;
        align-self: center;
        margin-left: 50px;
        cursor: pointer;

        img {
            padding-right: 10px;
        }

        span {
            position: absolute;
            border-bottom: 2px solid;
        }
    }

    .title {
        grid-area: title;
        font-size: 32px;
        align-self: center;
        justify-self: center;
    }

    .q {
        grid-area: q;
        align-self: center;
        text-align: end;
        margin-right: 62px;
        cursor: pointer;
    }

}
