.HeaderComponent {
    height: 100px;
    width: 100%;
    background: $cWhite;
    font-family: fBold;
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    grid-template-areas: 'picker title q';

    .picker {
        grid-area: picker;
        align-self: center;
        margin-left: 50px;


        img {
            padding-right: 10px;
            cursor: pointer;
        }

        span {
            position: absolute;
            border-bottom: 2px solid;
            cursor: pointer;
        }
    }

    .title {
        grid-area: title;
        font-size: 32px;
        align-self: center;
        justify-self: center;
    }

    .q {
        grid-area: q;
        align-self: center;

        img {
            margin-left: -16px;
            cursor: pointer;
        }
    }

    @media #{$tablet} {
        grid-template-columns: 100px 1fr 100px;

        .q {
            margin-left: 44px;
        }
    }

    @media #{$phone} {
        grid-template-columns: 100px 1fr 100px;

        .picker {
            margin-left: 20px;

            span {
                display: none;
            }
        }

        .title {
            font-size: 22px;
        }

        .q {
            margin-left: 78px;
        }
    }
} // HeaderComponent
