.PickerIntroComponent {
    background: $cOffWhite;
    height: calc(100vh - 100px);
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 1fr 170px 120px 2fr;
    grid-template-areas:
    '. . .'
    '. bowl .'
    '. instruction .'
    '. . .';

    .bowl {
        grid-area: bowl;
        align-self: center;
        justify-self: center;
        padding-bottom: 40px;
    }

    .instruction {
        grid-area: instruction;
        color: #333;
        text-align: center;
        align-self: center;
        font-size: $sFontbig;
        font-family: fRegular;
        line-height: 40px;
        word-spacing: .5px;
        padding-bottom: 50px;
        margin-left: 3px;
    }

    @media #{$phone} {
        grid-template-columns: 20px 1fr 20px;
    }

} // PickerIntroComponent
