.PickerComponent {
    position: fixed;
    left: -628px;
    top: 0;
    width: 320px;
    height: 100vh;
    background: $cWhite;
    transition: left 300ms ease-out;
    box-shadow: 4px 0 8px 0 rgba(34, 34, 34, .24);

    &.open {
        left: 0;
    }

    .header {
        position: absolute;
        display: grid;
        width: 100%;
        border-bottom: .1px solid $cGrey;
        z-index: 1;
        grid-template-columns: 20px 42px 1fr 1fr 20px;
        grid-template-rows: 60px 30px;
        grid-template-areas:
        '. img title close .'
        '. . . . .';
        align-items: end;


        img {
            grid-area: img;
            width: 32px;
            height: 32px;
        }

        .title {
            grid-area: title;
            font-size: 32px;
            font-family: fBold;
        }

        .close {
            grid-area: close;
            font-family: fBold;
            justify-self: right;
            border-bottom: 2px solid $cGrey;
            margin-bottom: 7px;
            cursor: pointer;
        }

    }// header

    .selectorWrapper {
        position: absolute;
        top: 90px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: calc(100vh - 90px);

        &::-webkit-scrollbar {
            display: none;
        }

        .DropHex {
            padding-top: 15px;
            background-color: #eaf9fd;
        }
        .standard {
            margin-top: 20px;
        }

        .DropHex .wrapper {
            height: 42px;
            width: calc(50% - 12px);
            border-radius: 4px;
            border: 1px solid #666;
            font-size: 18px;
            font-family: fRegular;
            padding-left: 12px;
        }

        .button {
            justify-self: center;
            margin-top: 20px;
            padding-top: 24px;
            padding-bottom: 30px;
            border-top: .1px solid $cGrey;
        }

    } // selectorWrapper

    @media #{$phone} {
        width: 100%;
    }

}// PickerComponent
