.PickerComponent {
    position: fixed;
    left: -628px;
    top: 0;
    width: 320px;
    height: 100vh;
    background: $cWhite;
    transition: left 300ms ease-out;
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, .30);

    &.open {
        left: 0;
    }

    .header {
        position: absolute;
        display: grid;
        width: 100%;
        border-bottom: 1px solid $cLightGrey;
        z-index: 1;
        grid-template-columns: 20px 40px 1fr 1fr 20px;
        grid-template-rows: 50px 20px;
        grid-template-areas:
        '. img title close .'
        '. . . . .';
        align-items: end;

        img {
            grid-area: img;
            width: 20px;
            height: 20px;
            margin: 0 auto;
            padding-bottom: 4px;
        }

        .title {
            grid-area: title;
            font-size: 24px;
            font-family: fBold;
        }

        .close {
            grid-area: close;
            font-family: fBold;
            justify-self: right;
            border-bottom: 2px solid $cGrey;
            margin-bottom: 7px;
            cursor: pointer;
        }

    }// header

    .selectorWrapper {
        background: $cWhite;
        position: absolute;
        top: 80px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: calc(100vh - 70px);

        &::-webkit-scrollbar {
            display: none;
        }

        .DropHex {
            padding-top: 15px;
        }
        .standard {
            margin-top: 20px;
        }

        .DropHex .wrapper {
            height: 42px;
            width: calc(50% - 12px);
            border-radius: 0px;
            border: 2px solid $cGrey;
            font-size: 18px;
            font-family: fRegular;
            padding-left: 12px;

            &:focus:not(.active) {
                outline: 5px solid #53cbed;
                z-index: 1;
            }
        }

        .button {
            justify-self: center;
            margin-top: 10px;
            padding-bottom: 40px;
        }

    } // selectorWrapper

    @media #{$phone} {
        width: 100%;
    }

}// PickerComponent
