.SchemeComponent {
    height: 240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;

    .texts {
        grid-area: 1 / 1 / auto / auto;
        position: relative;
        height: inherit;
        padding: 0 20px;

        .name {
            font-size: 48px;
            padding-top: 40px;
        }

        .hue {
            padding-top: 10px;
        }

        .copy {
            text-decoration: underline;
            position: absolute;
            bottom: 40px;
        }

    } // texts

    .colors {
        grid-area: 1 / 1 / span 3;
        height: 240px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
        grid-template-rows: 1fr;
    }

    @media screen and (max-width: 320px) {
        overflow-x: hidden;

        .hue {
            font-size: 14px;
        }
    }

}// SchemeComponent
