.SchemeComponent {
    height: 240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    margin-bottom: 40px;

    .texts {
        grid-area: 1 / 1 / auto / auto;
        position: relative;
        height: inherit;
        padding: 0 20px;
        pointer-events: none;

        .name {
            font-size: 36px;
            line-height: 1.2;
            padding-top: 40px;
            margin: 0;
        }

        .hue {
            display: inline-block;
            padding-top: 10px;
            line-height: 1.5;

            .hexCode {
                display: inline-block;
                padding: 2px 5px;
                margin-left: 3px;
                border-radius: 4px;
            }

        }

        .copyMessage {
            position: absolute;
            bottom: 10px;
        }

    } // texts

    .colors {
        grid-area: 1 / 1 / span 3;
        height: 240px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
        grid-template-rows: 1fr;
    }

    @media screen and (max-width: 320px) {
        overflow-x: hidden;

        .hue {
            font-size: 14px;
        }
    }

}// SchemeComponent
