.SchemeComponent {
    height: 240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 85px 95px 60px;
    padding-top: 5px;


    .colors {
        grid-area: 1 / 1 / span 3;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
        grid-template-rows: 1fr;
    }

    .name {
        grid-area: 1 / 1 / auto / span 3;
        font-size: 48px;
        margin-left: 24px;
        margin-top: auto;
        padding-top: 20px;
    }

    .hue {
        grid-area: 2 / 1 / auto / span 3;
        align-self: end;
        margin-left: 24px;
        padding-bottom: 40px;
    }

    .copy {
        grid-area: 3 / 1 / auto / span 3;
        margin-left: 24px;
        text-decoration: underline;
    }
}
