.ButtonComponent {
    height: 64px !important;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 -6px 0 0 rgba(0, 0, 0, .3),
    2px 6px 2px 1px rgba(51, 51, 51, .1);
    background: #4f5a65;


    color: $cWhite;
    font-size: $sFontMedium;
    font-family: fRegular;
    outline: none;

    &:hover {
        cursor: pointer;
        animation: 2500ms backgroundColor infinite;

        @keyframes backgroundColor {
            0% { background-color: #2777c6; }
            20% { background-color: #22b8c8; }
            30% { background-color: #22d5b9; }
            40% { background-color: #47d530; }
            50% { background-color: #cec821; }
            60% { background-color: #d3851f; }
            70% { background-color: #d5351f; }
            80% { background-color: #c721d4; }
            100% { background-color: #8447d5; }
        }
    }

    &:active{
        box-shadow: inset 0 5px 0 0 rgba(0, 0, 0, .3);
        background: #4f5a65;
    }

    &:focus {
        border: 5px solid #53cbed;
    }
}
