// varibles
$cOffWhite: #f9f9f9;
$cWhite: #fff;
$cGrey: #333;
$cBlack: #000;
$sFont: 16px;
$sFontMedium: 20px;
$sFontbig: 24px;

// fonts
@font-face {
    font-family: fMedium;
    src: url('app/fonts/Eczar-Medium.ttf');
}

@font-face {
    font-family: fRegular;
    src: url('app/fonts/Eczar-Regular.ttf');
}

@font-face {
    font-family: fBold;
    src: url('app/fonts/Eczar-Bold.ttf');
}

// main
@import './app/reset.scss';

//components
@import './Container/index.scss';
@import './Picker/index.scss';
@import './Header/index.scss';
@import './app/Button/index.scss';
@import './Intro/index.scss';
@import './Schemes/index.scss';
@import './Schemes/Scheme/index.scss';
@import './Stir/index.scss';
@import './About/index.scss';

// core
body {
    background: $cWhite;
    font-family: fMedium;
    font-size: $sFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $cGrey;

    .fBlack {
        font-family: fBold;
    }
}
