// varibles
$cOffWhite: #f9f9f9;
$cWhite: #fff;
$cGrey: #333;
$cLightGrey: #dfe3ea;
$cDarkGrey: #474747;
$cBlack: #000;
$cCTA: #f9f9f9;
$sFont: 16px;
$sFontMedium: 20px;
$sFontbig: 24px;

$phone: (max-width: 530px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 530px);

$tablet: (min-width: 531px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 531px);

// fonts
@font-face {
    font-family: fMedium;
    src: url('app/fonts/Eczar-Medium.ttf');
}

@font-face {
    font-family: fRegular;
    src: url('app/fonts/Eczar-Regular.ttf');
}

@font-face {
    font-family: fBold;
    src: url('app/fonts/Eczar-Bold.ttf');
}

// main
@import './app/reset.scss';

//components
@import './Intro/index.scss';
@import './Container/index.scss';
@import './PickerIntro/index.scss';
@import './Picker/index.scss';
@import './Picker/Selector/index.scss';
@import './Information/index.scss';
@import './Header/index.scss';
@import './Loading/index.scss';
@import './Schemes/index.scss';
@import './Schemes/Scheme/index.scss';
@import './About/index.scss';
@import './Button/index.scss';


// core
body {
    background: $cWhite;
    font-family: fMedium;
    font-size: $sFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $cGrey;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;

    .fBlack {
        font-family: fBold;
    }

    .restrict {
        pointer-events: none;
        opacity: 0.5;
    }


}
