.SaturationInfoComponent {
    position: fixed;
    background: rgba(51, 51, 51, .9);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 560px 1fr;
    grid-template-rows: 30px 48px 94px 570px 1fr;
    grid-template-areas:
    '. . . '
    '.  ButtonComponent  .'
    '. . . '
    '.  about  .'
    '. . .';
}
